.Input {
  text-align: center;
  background-color: transparent;
}

.textInput {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.1);
  border : solid 1px white;
  border-radius: 20px;
  font-family: 'Baloo 2', cursive;
  outline: none;
  font-size: 24px;
  color: white;
}

::placeholder {
  color: white;
  opacity: 1; /* Firefox */
}

.textInput:hover,
.textInput:active,
.textInput:focus{
  border: solid 2px white;
}

